* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
button {
  all: unset;
}
a {
  text-decoration: none;
  color: initial;
}
ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0px auto;
}
.btn {
  width: 120px;
  border: 1px solid $secondry-color;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s;
  @extend %small-padding;
}

%section-padding {
  padding: 60px;
}
%small-padding {
  padding: 5px 15px;
  cursor: pointer;
}
@mixin dFlex($dir: row, $wrap: nowrap, $justify: space-between, $gap: 15px) {
  display: flex;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}


@media (max-width: 768px) {
     .intro {
       flex-direction: column;
       text-align: center;
   
       .intro-text {
         h2 {
           font-size: 36px;
         }
       }
   
       .intro-img {
         img {
           max-width: 100%;
           height: auto;
           margin-top: 20px;
         }
       }
     }
   
     nav ul {
       display: none; // 
     }
   }

   @media (max-width: 768px) {
     .work {
       flex-direction: column;
   
       .left {
         width: 100%;
         margin: 0 0 30px 0;
         text-align: center;
       }
   
       .box-parent {
         grid-template-columns: 1fr;
         justify-items: center;
   
         .box {
           width: 90%;
         }
       }
     }
   }
   .container {
     max-width: 1200px;
     padding: 0 15px;
     margin: 0 auto;
   }
   img {
     max-width: 100%;
     height: auto;
   }
  
            